@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");

body,
html {
  height: 100%;
}

.Toastify__toast--success {
  font-weight: bold;
  color: #54b4d3 !important;
  background: linear-gradient(to right, #0abf3055, #22242f 35%) !important;
}
.Toastify__toast--success .Toastify__close-button {
  color: rgb(0, 123, 255); /* Kapatma işaretinin rengi */
}
.Toastify__toast--warning {
  font-weight: bold;
  color: #e4a11b !important;
  background: linear-gradient(to right, #54b4d3, #22242f 40%) !important;
}
.Toastify__toast--warning .Toastify__close-button {
  color: #e4a11b; /* Kapatma işaretinin rengi */
}
.Toastify__toast--error {
  font-weight: bold;
  color: white !important;
  background: linear-gradient(to right, #22242f, red) !important;
}

.sign-bg {
  background: linear-gradient(to right, #22242f, #54b4d3 70%);
}

.sign-bg-rev {
  background: linear-gradient(to left, #22242f, #54b4d3 70%);
}

.navbar-nav .nav-link.active {
  border-bottom: 2px solid #9fa6b2;
}

.create .btn:hover {
  color: #3b71ca;
  background: white;
  font-weight: bold;
}

.table tbody td {
  word-break: break-word;
}
